openapi: 3.0.3
info:
  title: Grocery Project
  description: |-
    API documentation for Web Apps Grocery application. This application finds the most cost effective store to go to given a cart of items
  version: 1.0.0
servers:
  - url: http://groceryapp.com
tags:
  # - name: stores
  #   description: Information about stores
  - name: items
    description: available items
  - name: cart
    description: cart calculations
  - name: user
    description: User login and preferences (optional)
paths:
  # /stores/:
  #   get:
  #     tags:
  #       - stores
  #     summary: Find nearby stores
  #     description: Find stores in same zip code
  #     operationId: findStoresByZip
  #     parameters:
  #       - name: zipCode
  #         in: query
  #         description: stores will be filtered by this.
  #         required: true
  #         explode: true
  #         schema:
  #           type: number
  #     responses:
  #       '200':
  #         description: successful operation
  #         content:
  #           application/json:
  #             schema:
  #               type: array
  #               items:
  #                 $ref: '#/components/schemas/Store'
  #       '400':
  #         description: Invalid zip code value
  
  /itemSearch/:
    get:
      tags:
        - items
      summary: Search for items
      description: Returns items that contain the search term. If no items exists returns an empty list.
      operationId: itemSearch
      parameters:
        - name: searchTerm
          in: query
          description: Will return items with this in the name.
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Item'
                  
  /calculateCart/:
    post:
      tags:
        - cart
      summary: Calculates the cost of multiple stores with a given cart
      description: Returns the cost of a cart at each given store.
      operationId: calculateCart
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalculateCartRequest'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CartCost'
        '400':
          description: request contains some 
          
  /validateUser/:
    post:
      tags:
        - user
      summary: Login
      description: Checks if user credentials are valid and returns a login token
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/validateRequest'
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  username:
                    type: string
                    example: username
                  token:
                    type: string
                    example: "1231237123891273912"
                    
  /favorites/:
    get:
      tags:
        - user
      summary: gets users favorited items
      parameters:
        - name: username
          example: "lmartin9"
          in: query
          required: true
          schema:
            type: string
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  username:
                    type: string
                    example: "lmartin9"
                  favortes:
                    type: array
                    items: 
                      $ref: '#/components/schemas/Item'
  
  /addFavorite/:
    post:
      tags:
        - user
      summary: adds item to favorites list
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/favoriteItemRequest'
      responses:
        '201':
          description: successful operation
          
          
  /createUser/:
    post:
      tags:
        - user
      summary: creates new user
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/validateRequest'
      responses:
        '201':
          description: successful operation
          content:
            application/json:
              schema:
                type: object
                properties:
                  username:
                    type: string
                    example: username
                  token:
                    type: string
                    example: "1231237123891273912"
          
          
                      
            
  
components:
  schemas:
    Store:
      type: object
      properties:
        id:
          type: integer
          example: 141234
        name:
          type: string
          example: "HEB"
        zipCode:
          type: number
          example: 77095
    Item:
      type: object
      properties:
        id:
          type: integer
          example: 323212
        name:
          type: string
          example: "Banana"
        unit:
          type: string
          example: "lb"
        amount:
          type: number
          example: 5
        image:
          type: string
          example: http://linktoimage.com
        category:
          type: string
          example: produce
          
          
    CalculateCartRequest:
      type: object
      properties:
        # storeIds:
        #   type: array
        #   items:
        #     type: integer
        #     example: 141234
        zipCode:
          type: integer
          example: 77095
        itemIds:
          type: array
          items:
            type: integer
            example: 323212
            
    CartCost:
      type: object
      properties:
        storeId:
          type: integer
          example: 141234
        storeName:
          type: string
          example: "HEB"
        totalCost: 
          type: number
          example: 2.50
        cart:
          type: array
          items:
            type: object
            properties:
              itemId:
                type: integer
                example: 323212
              itemName:
                type: string
                example: Banana
              cost:
                type: number
                example: 2.50
                
    validateRequest:
      type: object
      properties:
        username:
          example: "username"
          type: string
        password:
          example: "Password123!"
          type: string
          
          
    favoriteItemRequest:
      type: object
      properties:
        username:
          example: "username"
          type: string
        itemId:
          type: integer
          example: 323212
        
